@media all and (max-width: 1050px) {
    .footer {
        margin-top: 10vh;
        background-color: #152335;
        color: aliceblue;
        padding: 5vh 0;

        .footer-part-01 {
            display: flex;
            justify-content: space-between;
            max-width: 95vw;
            margin: auto;
        }

        .footer-part-02 {
            max-width: 95vw;
            margin: auto;
        }

        .footer-part-03 {
            max-width: 95vw;
        }
    }
}

@media all and (max-width: 500px) {
    .footer {
        margin-top: 20vh;
        background-color: #152335;
        color: aliceblue;
        padding: 10vh 0;

        .footer-part-01 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 80vw;
            margin: auto;

            .footer-part-01-des {
                &:nth-child(2) {
                    margin-top: 40px;
                }
            }
        }

        .footer-part-02 {
            max-width: 80vw;
            margin: auto;

            .foo-social {
                img {
                    max-width: 24px;
                }
            }
        }

        .footer-part-03 {
            max-width: 80vw;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .footer-part-03-left {}

            .footer-part-03-right {}
        }
    }
}