#banner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;

    img {
        width: 450px;
    }

    .bannertxt {
        h1 {
            display: flex;
            font-size: 30px;
        }

        .banner-button {
            font-size: 11px;
            padding: 10px 16px;
            font-weight: bold;
            background-color: #000000e1;
            color: #fff;
            border: none;

            &:hover {
                background-color: #000;
            }
        }
    }
}

.trust {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.logo {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;

    img {
        width: 8%;
    }
}

.benefits {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;

    .ben-lft {
        .ben-lft-01 {
            font-size: 18px;
        }

        .ben-lft-02 {
            font-size: 24px;
        }
    }

    .ben-rit {


        /*Checkboxes styles*/
        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]+label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            font: 14px/20px 'Open Sans', Arial, sans-serif;
            // color: #ddd;
            cursor: pointer;
        }

        input[type="checkbox"]+label:last-child {
            margin-bottom: 0;
        }

        input[type="checkbox"]+label:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #000000;
            position: absolute;
            left: 0;
            top: 0;
            opacity: .6;
            -webkit-transition: all .12s, border-color .08s;
            transition: all .12s, border-color .08s;
        }

        input[type="checkbox"]:checked+label:before {
            width: 10px;
            top: -5px;
            left: 5px;
            border-radius: 0;
            opacity: 1;
            border-top-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

}

.testim {
    background-color: #EEF2F8;
    margin-top: 10vh;
    padding: 10vh 0;

    .tstmtxt {

        text-align: center;

        h1 {
            font-size: 40px;
            font-weight: bolder;
        }
    }

    .tstmslidr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-gap: 65px;
        max-width: 90vw;
        margin: auto;

        .tstmdetails {
            box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.3);
            transition: 0.3s;
            padding: 2px 16px;
            background-color: #fff;

            &:hover {
                box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.5);
            }

            .fa-quote-left {
                font-size: 40px;
            }

            .clientStatement {
                font-size: 14px;
            }

            .clientName {
                font-size: 16px;
            }

            .clientOccup {
                font-size: 14px;
            }
        }
    }
}


.process {
    margin-top: 40vh;

    .process-top {
        display: flex;
        flex-direction: column;
        text-align: center;

        .proc-t-1 {
            font-size: 15px;
        }

        .proc-t-2 {
            font-size: 25px;
        }

        .proc-t-3 {
            font-size: 22px;
        }
    }



    .process-descrptn {
        //   display: flex;
        //   flex-direction: column;

        .steps {
            display: grid;
            grid-template-columns: 5vw 50vw;
            grid-auto-rows: 5vh 15vh;
            grid-template-areas: "nmbr title"
                "nmbr descr";
            justify-content: center;
            grid-gap: 10px 60px;

            .step-nm {
                grid-area: nmbr;
                font-family: 'Noto Serif',
                    serif;
                font-size: 60px;

                margin-top: 30px;
            }

            .step-ti {
                grid-area: title;
                //   display: flex;
                //   justify-content: center;
                //   text-align: center;
                font-size: 20px;
            }

            .step-des {
                grid-area: descr;
                display: flex;
                justify-content: center;
                font-weight: 100;
                color: #353638;
            }
        }
    }
}


.pricing {
    margin-top: 40vh;
    background-color: #EEF2F8;
    padding: 10vh;

    .pricing-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pric-t-01 {
            font-size: 20px;
            font-weight: bolder;
        }

        .pric-t-02 {
            font-size: 40px;
            font-weight: bolder;
        }

        .pric-t-03 {
            font-size: 16px;
            font-weight: bolder;
        }
    }

    .pricing-main {
        max-width: 80vw;
        margin: auto;
        display: flex;
        grid-gap: 0 5vw;

        .pricing-des {
            text-align: center;
            padding-bottom: 15px;
            margin-top: 10vh;
            display: grid;
            grid-gap: 8px 0;
            grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));

            // grid-auto-rows: minmax(150px,auto);
            box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.3);
            transition: 0.3s;
            padding: 2px 16px;

            &:hover {
                box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.5);
            }

            .pricing-title {
                font-size: 20px;
            }

            .pricing-price {
                font-size: 45px;
                padding-bottom: 15px;
            }

            .pri-op {}

            .Pri-Buy {
                margin-bottom: 20px;
                font-size: 11px;
                padding: 10px 16px;
                font-weight: bold;
                background-color: #000000e1;
                color: #fff;
                border: none;

                &:hover {
                    background-color: #000;
                }

                &:hover {}

                &:active {}

                &:focus {}
            }
        }
    }
}


.get-start {
    text-align: center;
    margin-top: 20vh;

    .get-start-title {
        font-size: 40px;
        font-weight: bolder;
    }

    .get-started-des {}
}

.get-start-btn {
    font-size: 11px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: #000000e1;
    color: #fff;
    border: none;

    &:hover {
        background-color: #000;
    }

    .get-start-risk {}
}


.about {
    margin-top: 20vh;
    padding: 12vh 0;
    display: flex;
    justify-content: space-around;
    background-color: #2A3947;
    color: white;

    .about-left {
        display: flex;
        flex-direction: column;
        justify-content: center;

        // text-align: center;
        .abt-le-01 {}

        .abt-le-meet {
            font-size: 34px;
            font-weight: bolder;
        }

        .abt-le-des {
            br {}
        }

        .abt-le-intro {
            text-decoration: underline;
        }
    }

    .about-rgt {
        img {
            max-width: 400px;
            align-items: center;
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

$bg: #fff;
$text: #000000;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03d294;

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}

.accordion {
    .accordion-item {
        border-bottom: 1px solid $lightgray;

        button[aria-expanded='true'] {
            border-bottom: 1px solid $blue;
        }
    }

    button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: $text;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;

        &:hover,
        &:focus {
            cursor: pointer;
            color: $blue;

            &::after {
                cursor: pointer;
                color: $blue;
                border: 1px solid $blue;
            }
        }

        .accordion-title {
            padding: 1em 1.5em 1em 0;
        }

        .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;

            &::before {
                display: block;
                position: absolute;
                content: '';
                top: 9px;
                left: 5px;
                width: 10px;
                height: 2px;
                background: currentColor;
            }

            &::after {
                display: block;
                position: absolute;
                content: '';
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }

    button[aria-expanded='true'] {
        color: $blue;

        .icon {
            &::after {
                width: 0;
            }
        }

        +.accordion-content {
            opacity: 1;
            max-height: 9em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }

    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
        }
    }
}