@media all and (max-width: 500px) {
.nav-container {
    overflow-x: hidden;
    position: relative;
    z-index: 10;

    .nav-whole {
        .nav-left {
            h1 {}
        }

        .nav-right {
            // position: relative;

            &.active .nav-ul {
                transform: translateX(0%);
                transition: .6s cubic-bezier(.17, .67, .55, .92);
                        }
                        &.active .menu {
                            opacity: 0;
                        }

                        &.active .close {
                            opacity: 1;
                        }

                        .menu {
                            position: absolute;
                            top: 25%;
                            right: 3%;
                            transform: translate(-50%, -50%);
                            z-index: 5;
                            font-weight: 500;
                            font-size: 15px;
                            cursor: pointer;
                            text-decoration: underline;
                            transition: 0.2s;
                        }

                        .close {
                            position: absolute;
                            top: 25%;
                            cursor: pointer;
                            text-decoration: underline;
                            right: 3%;
                            transform: translate(-50%, -50%);
                            z-index: 3;
                            font-weight: 500;
                            font-size: 15px;
                            opacity: 0;
                            transition: 0.2s;
                        }
        .nav-ul {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            background: #fff;
            transition: .6s cubic-bezier(.17, .67, .55, .92);
            transform: translateX(100%);
            z-index: 2;

            &::after {
                content: '';
                clear: both;
                display: table;
            }
        }

        .nav-button {
        }
        .mob {
            display: block;
}
}
    }
  }

.nav-ul a,
.nav-ul div {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
}