.nav-whole {
    display: flex;

    .nav-left {}

    .nav-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        .mob {
            display: none;
        }

        #hamburger {
            display: none;

            &:focus {
                outline: none;
            }
        }

        #nav-ul {
            >* {
                margin: 0 20px;
            }

            .nav-button {
                text-decoration: none;
                color: #000;
            }

            .mob {}

            .mob-search {}

            button {
                .fa-search {}
            }
        }
    }
}