@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
.nav-whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-whole .nav-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-whole .nav-right .mob {
  display: none;
}

.nav-whole .nav-right #hamburger {
  display: none;
}

.nav-whole .nav-right #hamburger:focus {
  outline: none;
}

.nav-whole .nav-right #nav-ul > * {
  margin: 0 20px;
}

.nav-whole .nav-right #nav-ul .nav-button {
  text-decoration: none;
  color: #000;
}

@media all and (max-width: 500px) {
  .nav-whole {
    position: relative;
  }
  .nav-whole .nav-right #hamburger {
    display: block;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    border: none;
  }
  .nav-whole .nav-right #hamburger :focus {
    outline: none;
  }
  .nav-whole .nav-right .nav-ul {
    position: absolute;
    top: 7vh;
    right: 0;
    width: 100%;
    height: 88vh;
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 5;
  }
  .nav-whole .nav-right .nav-ul .mob {
    display: block;
    text-decoration: none;
  }
  .nav-whole .nav-right .nav-ul > * {
    margin-top: 30px;
  }
  .nav-whole .nav-right .nav-ul .nav-button {
    font-size: 15px;
  }
  .nav-whole .nav-right .nav-ul .mob-search-full {
    position: relative;
  }
  .nav-whole .nav-right .nav-ul .mob-search-full .mob-search {
    height: 60px;
    width: 80vw;
    border: none;
    background-color: #87b3a4;
    color: white;
    font-size: 18px;
    padding: 10px;
  }
  .nav-whole .nav-right .nav-ul .mob-search-full button {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 60px;
    width: 20vw;
    padding: 10px;
    background: #87b3a4;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
  }
  .nav-whole .nav-right .show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10vh;
}

#banner img {
  width: 450px;
}

#banner .bannertxt h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

#banner .bannertxt .banner-button {
  font-size: 11px;
  padding: 10px 16px;
  font-weight: bold;
  background-color: #000000e1;
  color: #fff;
  border: none;
}

#banner .bannertxt .banner-button:hover {
  background-color: #000;
}

.trust {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.logo img {
  width: 8%;
}

.benefits {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.benefits .ben-lft .ben-lft-01 {
  font-size: 18px;
}

.benefits .ben-lft .ben-lft-02 {
  font-size: 24px;
}

.benefits .ben-rit {
  /*Checkboxes styles*/
}

.benefits .ben-rit input[type="checkbox"] {
  display: none;
}

.benefits .ben-rit input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
}

.benefits .ben-rit input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.benefits .ben-rit input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.benefits .ben-rit input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.testim {
  background-color: #EEF2F8;
  margin-top: 10vh;
  padding: 10vh 0;
}

.testim .tstmtxt {
  text-align: center;
}

.testim .tstmtxt h1 {
  font-size: 40px;
  font-weight: bolder;
}

.testim .tstmslidr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 65px;
  max-width: 90vw;
  margin: auto;
}

.testim .tstmslidr .tstmdetails {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2px 16px;
  background-color: #fff;
}

.testim .tstmslidr .tstmdetails:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.testim .tstmslidr .tstmdetails .fa-quote-left {
  font-size: 40px;
}

.testim .tstmslidr .tstmdetails .clientStatement {
  font-size: 14px;
}

.testim .tstmslidr .tstmdetails .clientName {
  font-size: 16px;
}

.testim .tstmslidr .tstmdetails .clientOccup {
  font-size: 14px;
}

.process {
  margin-top: 40vh;
}

.process .process-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.process .process-top .proc-t-1 {
  font-size: 15px;
}

.process .process-top .proc-t-2 {
  font-size: 25px;
}

.process .process-top .proc-t-3 {
  font-size: 22px;
}

.process .process-descrptn .steps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5vw 50vw;
      grid-template-columns: 5vw 50vw;
  grid-auto-rows: 5vh 15vh;
      grid-template-areas: "nmbr title" "nmbr descr";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px 60px;
}

.process .process-descrptn .steps .step-nm {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nmbr;
  font-family: 'Noto Serif', serif;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.process .process-descrptn .steps .step-ti {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
}

.process .process-descrptn .steps .step-des {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: descr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 100;
  color: #353638;
}

.pricing {
  margin-top: 40vh;
  background-color: #EEF2F8;
  padding: 10vh;
}

.pricing .pricing-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing .pricing-top .pric-t-01 {
  font-size: 20px;
  font-weight: bolder;
}

.pricing .pricing-top .pric-t-02 {
  font-size: 40px;
  font-weight: bolder;
}

.pricing .pricing-top .pric-t-03 {
  font-size: 16px;
  font-weight: bolder;
}

.pricing .pricing-main {
  max-width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0 5vw;
}

.pricing .pricing-main .pricing-des {
  text-align: center;
  padding-bottom: 15px;
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 8px 0;
  -ms-grid-columns: (minmax(190px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 2px 16px;
}

.pricing .pricing-main .pricing-des:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.pricing .pricing-main .pricing-des .pricing-title {
  font-size: 20px;
}

.pricing .pricing-main .pricing-des .pricing-price {
  font-size: 45px;
  padding-bottom: 15px;
}

.pricing .pricing-main .pricing-des .Pri-Buy {
  margin-bottom: 20px;
  font-size: 11px;
  padding: 10px 16px;
  font-weight: bold;
  background-color: #000000e1;
  color: #fff;
  border: none;
}

.pricing .pricing-main .pricing-des .Pri-Buy:hover {
  background-color: #000;
}

.get-start {
  text-align: center;
  margin-top: 20vh;
}

.get-start .get-start-title {
  font-size: 40px;
  font-weight: bolder;
}

.get-start-btn {
  font-size: 11px;
  padding: 10px 16px;
  font-weight: bold;
  background-color: #000000e1;
  color: #fff;
  border: none;
}

.get-start-btn:hover {
  background-color: #000;
}

.about {
  margin-top: 20vh;
  padding: 12vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2A3947;
  color: white;
}

.about .about-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-left .abt-le-meet {
  font-size: 34px;
  font-weight: bolder;
}

.about .about-left .abt-le-intro {
  text-decoration: underline;
}

.about .about-rgt img {
  max-width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03d294;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03d294;
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03d294;
  border: 1px solid #03d294;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #03d294;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

@media all and (max-width: 1050px) {
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 2vh;
  }
  #banner img {
    width: 380px;
  }
  #banner .bannertxt h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
  }
  #banner .bannertxt .banner-button {
    font-size: 11px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: #000000e1;
    color: #fff;
    border: none;
  }
  #banner .bannertxt .banner-button:hover {
    background-color: #000;
  }
  .trust {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10vh;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 15px;
  }
  .logo img {
    width: 8%;
  }
  .testim {
    background-color: #EEF2F8;
    margin-top: 10vh;
    padding: 10vh 0;
    margin: 0 0;
    width: 100vw;
  }
  .testim .tstmtxt {
    text-align: center;
  }
  .testim .tstmtxt h1 {
    font-size: 40px;
    font-weight: bolder;
  }
  .testim .tstmslidr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 15px;
    width: 100vw;
  }
  .process {
    margin-top: 10vh;
  }
  .pricing {
    margin-top: 10vh;
    background-color: #EEF2F8;
    padding: 5vh 0;
  }
  .pricing .pricing-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing .pricing-top .pric-t-01 {
    font-size: 20px;
    font-weight: bolder;
  }
  .pricing .pricing-top .pric-t-02 {
    font-size: 40px;
    font-weight: bolder;
  }
  .pricing .pricing-top .pric-t-03 {
    font-size: 16px;
    font-weight: bolder;
  }
  .pricing .pricing-main {
    max-width: 80vw;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 0 5vw;
  }
  .pricing .pricing-main .pricing-des {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 10vh;
    display: -ms-grid;
    display: grid;
    grid-gap: 8px 0;
    -ms-grid-columns: (minmax(190px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 2px 16px;
  }
  .pricing .pricing-main .pricing-des:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  .pricing .pricing-main .pricing-des .pricing-title {
    font-size: 20px;
  }
  .pricing .pricing-main .pricing-des .pricing-price {
    font-size: 45px;
    padding-bottom: 15px;
  }
  .pricing .pricing-main .pricing-des .Pri-Buy {
    margin-bottom: 20px;
    font-size: 11px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: #000000e1;
    color: #fff;
    border: none;
  }
  .pricing .pricing-main .pricing-des .Pri-Buy:hover {
    background-color: #000;
  }
  .get-start {
    text-align: center;
    margin-top: 10vh;
  }
  .get-start .get-start-title {
    font-size: 40px;
    font-weight: bolder;
  }
  .get-start-btn {
    font-size: 11px;
  }
  .about {
    margin-top: 10vh;
    padding: 5vh 2vw;
  }
  .about .about-rgt img {
    max-width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 500px) {
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 2vh;
  }
  #banner img {
    display: none;
  }
  #banner .bannertxt {
    margin-left: 20px;
  }
  #banner .bannertxt h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
  }
  .trust {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10vh;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 15px;
  }
  .logo img {
    width: 12%;
  }
  .benefits {
    margin-top: 10vh;
    margin-left: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .testim {
    margin-top: 5vh;
    padding: 5vh 0;
    margin: 0 0;
    width: 100vw;
  }
  .testim .tstmtxt {
    text-align: center;
  }
  .testim .tstmtxt h1 {
    font-size: 35px;
    font-weight: bolder;
  }
  .process {
    margin-top: 10vh;
  }
  .pricing {
    margin-top: 10vh;
    background-color: #EEF2F8;
    padding: 5vh 0;
  }
  .pricing .pricing-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing .pricing-top .pric-t-01 {
    font-size: 20px;
    font-weight: bolder;
  }
  .pricing .pricing-top .pric-t-02 {
    font-size: 40px;
    font-weight: bolder;
  }
  .pricing .pricing-top .pric-t-03 {
    font-size: 16px;
    font-weight: bolder;
  }
  .pricing .pricing-main {
    max-width: 80vw;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 0 5vw;
  }
  .pricing .pricing-main .pricing-des {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 10vh;
    display: -ms-grid;
    display: grid;
    grid-gap: 8px 0;
    -ms-grid-columns: (minmax(190px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 2px 16px;
  }
  .pricing .pricing-main .pricing-des:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  .pricing .pricing-main .pricing-des .pricing-title {
    font-size: 20px;
  }
  .pricing .pricing-main .pricing-des .pricing-price {
    font-size: 45px;
    padding-bottom: 15px;
  }
  .pricing .pricing-main .pricing-des .Pri-Buy {
    margin-bottom: 20px;
    font-size: 11px;
    padding: 10px 16px;
    font-weight: bold;
    background-color: #000000e1;
    color: #fff;
    border: none;
  }
  .pricing .pricing-main .pricing-des .Pri-Buy:hover {
    background-color: #000;
  }
  .get-start {
    text-align: center;
    margin-top: 10vh;
  }
  .get-start .get-start-title {
    font-size: 40px;
    font-weight: bolder;
  }
  .get-start-btn {
    font-size: 11px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10vh;
    padding: 5vh 2vw;
  }
  .about .about-rgt {
    margin-top: 2vh;
  }
  .about .about-rgt img {
    max-width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container {
    padding: 2rem;
    width: 100vw;
  }
}

.footer {
  margin-top: 20vh;
  background-color: #152335;
  color: aliceblue;
  padding: 10vh 0;
}

.footer .footer-part-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80vw;
  margin: auto;
}

.footer .footer-part-01 .footer-part-01-des .foo-pa-01-title {
  font-size: 30px;
}

.footer .footer-part-02 {
  max-width: 80vw;
  margin: auto;
}

.footer .footer-part-02 .foo-social img {
  max-width: 24px;
}

.footer .footer-part-03 {
  max-width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1050px) {
  .footer {
    margin-top: 10vh;
    background-color: #152335;
    color: aliceblue;
    padding: 5vh 0;
  }
  .footer .footer-part-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 95vw;
    margin: auto;
  }
  .footer .footer-part-02 {
    max-width: 95vw;
    margin: auto;
  }
  .footer .footer-part-03 {
    max-width: 95vw;
  }
}

@media all and (max-width: 500px) {
  .footer {
    margin-top: 20vh;
    background-color: #152335;
    color: aliceblue;
    padding: 10vh 0;
  }
  .footer .footer-part-01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 80vw;
    margin: auto;
  }
  .footer .footer-part-01 .footer-part-01-des:nth-child(2) {
    margin-top: 40px;
  }
  .footer .footer-part-02 {
    max-width: 80vw;
    margin: auto;
  }
  .footer .footer-part-02 .foo-social img {
    max-width: 24px;
  }
  .footer .footer-part-03 {
    max-width: 80vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #FFFBF5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */