body {
    font-family: 'Kanit',
    sans-serif;
    background-color: #FFFBF5;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    padding: 0;
}


@import './nav-whole';
@import './nav-whole-responsive';
@import './index';
@import './index-res';
@import './footer';
@import './footer-res';


@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');